src/main/resources/xsd/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.serkan.com/test" elementFormDefault="qualified"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://www.serkan.com/test">
   <complexType name="EchoResponse">
      <sequence>
         <element name="message" type="string"></element>
         <element name="nbCharacters" type="int"></element>
      </sequence>
   </complexType>
   <element name="EchoElement" type="tns:EchoResponse" />
</schema>